html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

@media (max-width: 600px) {
  body {
    background-color: black;
  }

  .nav-header {
    color: white;
    height: 92px;
    width: 100%;
    background-color: #3c3a39;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    align-items: center;
  }

  li {
    list-style: none;
  }

  .nav-header li:nth-child(1) {
    flex: 1;
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }

  .nav-header li:nth-child(2) {
    justify-content: end;
    flex: 1;
    text-align: center;
    margin-left: 200px;
  }

  section {
    color: #ff6b00;
    font-family: 'Crete Round', sans-serif;
    width: 327px;
    font-weight: 400;
    font-size: 56px;
    margin: 0;
    padding: 0;
  }

  .name {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-inline-start: 25px;
    margin-bottom: 0;
  }

  h1 {
    margin-bottom: 0;
    margin-top: 200px;
  }

  h6 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: 0;
    font-size: 34px;
  }

  p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    margin-left: 70px;
  }
}
